* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: calc(16px + (16 - 14) * ((100vw - 300px) / (1600 - 300)));
    font-family: 'Acumin-Pro', sans-serif;
    @import url("https://use.typekit.net/xta7btl.css");

}

body {
    width: 100%;
}

header {
    margin: auto;
    width: 100%;
}


#navbar {
    /* position: fixed; */
    top: 0;
    z-index: 999;
    background-color: black;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}


/* display: flex;
    /* align-items: center; */
/* justify-content: center; */
/*color: white;*/

.navlink {
    text-decoration: none;
    font-weight: 700;
    font-size: 15px;
    color: lightgrey;
    padding: 10px;
    min-width: 100px;
    width: 100px;
    display: flex;
    justify-content: center;

}

.navlink:nth-of-type(4) {
    color: white;
    width: auto;
    min-width: 225px;
    border-radius: 50px;
    background-color: #0045ff;
    line-height: 1em;
    padding: 10px 15px;
    align-items: center;
}

.navlink.active {
    color: white;
}



#navcarousel {
    overflow: hidden;
    height: 120px;
    width: 100%;
    justify-content: center;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: scroll;

}

#navcarousel::-webkit-scrollbar {
    display: none;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

#navcarousel a {
    font-weight: 800;
    margin: 5px;
    color: white;
    background-color: #0045ff;
    text-decoration: none;
    min-width: 150px;
    width: 190px;
    text-align: center;
    border-radius: 4px;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#introtxt {
    padding: 2.4em 0;
    /* background-color: whitesmoke; */
    /*   display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
}

#introtxt h1 {
    /* padding: .6em 0 .2em 0  */
    ;
    font-family: "Acumin-Pro", sans-serif;
    font-weight: 800;
    font-size: 69px;
    line-height: 63px;
    text-align: center;
}

#introtxt p {

    font-family: "Acumin-Pro", sans-serif;
    font-weight: normal;
    font-size: 1.7em;
    line-height: 1.6em;
    text-align: center;
}


#canvas {
    width: 100%;
    margin: auto;
    max-width: 1920px;
    padding: 1em 3em;
    justify-content: center;

    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-auto-rows: 25%;

    grid-column-gap: 1em;
    grid-row-gap: 3.5em;

}


.item {
    border-radius: 5px;
    background: grey;
    height: 100%;
}


.thumbnail {
    border-radius: 5px;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

@media only screen and (max-width: 545px) {
    #canvas {
        grid-template-columns: repeat(1, 100%);
    }
}

@media only screen and (min-width: 540px) {
    #canvas {
        grid-template-columns: repeat(2, 50%);
    }
}


@media only screen and (min-width: 768px) {
    #canvas {
        grid-template-columns: repeat(2, 50%);
    }
}


@media only screen and (min-width: 992px) {
    #canvas {
        grid-template-columns: repeat(3, calc(100% / 3));
    }
}

@media only screen and (min-width: 1440px) {
    #canvas {
        grid-template-columns: repeat(4, 25%);
    }
}
