* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: calc(14px + (16 - 14) * ((100vw - 300px) / (1600 - 300)));
    font-family: 'Acumin-Pro', sans-serif;
    @import url("https://use.typekit.net/xta7btl.css");
}

body {
    width: 100%;
    margin-top: 60px;
    margin-bottom: 60px;
}

header {
    margin: auto;
    width: 100%;
}

#navbar {
    height: 60px;
    width: 100%;
    background-color: #1a1a1a;
    position: fixed;
    top: 0;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1em;
    font-family: "Acumin Pro", sans-serif;
    font-weight: 600;
}


#navbar div {
    display: flex;
    justify-content: center;
    align-items: center;
    
}


#navbar div button {
    cursor: pointer;
    display: none;
    border: 0;
    outline: none;
    background: none;
    margin: 10px;
    z-index: 999;
}

#navbar ul a {
    text-decoration: none;
    color: lightgrey;
}

#navbar ul a.active {
    color: white;
}

#navbar ul {
    list-style: none;
}

#navbar ul {
    display: flex;
}

#navbar ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 .3em;
}

#navbar ul li:nth-of-type(4) {
    background-color: #0060ff;
    border-radius: 35px;
    height: 35px;
    min-width: 230px;
}

#navbar ul li:nth-of-type(4) a {
    color: white;
}

#navbar ul span {
    color: lightgrey;
}

#navbar ul:first-of-type li:last-of-type a {
    min-width: 35px;
    height: 35px;
    border-radius: 35px;
    margin: 0 .2em;
    display: flex;
    justify-content: center;
    align-items: center;
}

#navbar ul:first-of-type li:last-of-type a:first-child {
    background-color: white;

}

#navbar ul:first-of-type li:last-of-type a:nth-child(2) {
    background-color: #4285f4;


}

#navbar ul:first-of-type li:last-of-type a:last-child {
    background-color: white;


}


.fa-bars {
    color: lightgrey;
}

.fa-apple {
    color: black;

}

.fa-facebook {
    color: white;
}

.fa-google {
    background: conic-gradient(from -45deg, #ea4335 110deg, #4285f4 90deg 180deg, #34a853 180deg 270deg, #fbbc05 270deg) 73% 55%/150% 150% no-repeat;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
}



#navcarousel {
    width: 100%;
    height: 70px;
    display: flex;
    position: relative;
}

#navcarousel nav {
    display: inline-flex;
    overflow: scroll hidden;
}

#navcarousel nav::-webkit-scrollbar {
    display: none;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

#navcarousel nav > a {
    min-width: 150px;
    margin: .25em;
    color: aliceblue;
    text-decoration: none;
    font-weight: 800;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 190px;
    border-radius: 2px;
    height: 60px;
    background-color: blue;
}


.backbutton div {
    position: absolute;
    left: 0;
    width: 70px;
    background-image: linear-gradient(to left, transparent 10%, white 90%);
    height: 100%;

}

.backbutton button {
    cursor: pointer;
    position: absolute;
    top: calc(50% - 22.5px);
    left: .5em;
    height: 45px;
    width: 45px;
    border-radius: 45px;
    border-style: none;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.4);
    background-color: white;

}

.menu div {
    position: absolute;
    right: 0;
    width: 150px;
    background-image: linear-gradient(to right, transparent 10%, white 50%);
    height: 100%;

}

.nextbutton {
    cursor: pointer;
    position: absolute;
    top: calc(50% - 22.5px);
    z-index: 1;
    right: 5.5em;
    height: 45px;
    width: 45px;
    border-radius: 45px;
    border-style: none;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.4);
    background-color: white;

}

#navcarousel button:focus {
    outline: 0;
}


.menu button {
    cursor: pointer;
    position: absolute;
    top: calc(50% - 30px);
    right: .5em;
    width: 60px;
    height: 60px;
    border-radius: 5px;
    border-style: none;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.4);
    background-color: white;
}

#introtxt {
    margin: 20px 30px 30px 30px;
}

#introtxt h1 {

    font-family: "Acumin-Pro", sans-serif;
    font-weight: 800;
    font-size: 70px;
    margin-bottom: 15px;
    letter-spacing: -1px;
    line-height: 0.9em;
    text-align: center;
    /*    font-size: 320%;*/
    /*    Het gebruiken van % schaalt beter op mobiel*/

}

#introtxt h2 {

    font-family: "Acumin-Pro", sans-serif;
    font-weight: 500;
    font-size: 23px;
    line-height: 1.25em;
    margin: 0 auto;
    text-align: center;
    /*    font-size: 120%*/
}


main {
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    padding: 0 24px;
    display: grid;
    grid-auto-columns: repeat(4, 50%);
    grid-column-gap: 20px;
    grid-row-gap: 2.55em;

}


.thumbnail {
    position: relative;
}

.thumbnail:after {
    content: '';
    display: block;
    padding-bottom: calc(100% / (4/3));
}


.thumbnail img {
    position: absolute;
    overflow: hidden;
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 4px;
    z-index: -1;

}

.thumbnail h1 {
    height: 100%;
    width: 100%;
    padding: .5em;
    border-radius: 4px;

    position: absolute;
    bottom: 0;
    left: 0;

    display: flex;
    align-items: flex-end;

    color: transparent;
    background-image: transparent;
    transition: .2s;
}

.thumbnail h1:hover {
    height: 100%;
    width: 100%;
    padding: .5em;
    border-radius: 4px;

    position: absolute;
    bottom: 0;
    left: 0;

    display: flex;
    align-items: flex-end;

    color: white;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.7) 10%, rgba(0, 0, 0, 0.4) 20%, transparent 30%);
    transition: .5s;
}



@media only screen and (max-width: 545px) {


    .backbutton {
        display: none;
    }

    .nextbutton {
        display: none;
    }

    #introtxt h1 {
        font-size: 320%;
        /*    Het gebruiken van % schaalt beter op mobiel*/

    }

    #introtxt h2 {
        font-size: 120%
    }

    main {
        grid-template-columns: 1fr;
    }


}



@media only screen and (min-width: 540px) {



    #introtxt h1 {
        font-size: 320%;
        /*    Het gebruiken van % schaalt beter op mobiel*/

    }

    #introtxt h2 {
        font-size: 120%
    }

    main {
        grid-template-columns: repeat(2, 1fr);
    }
}


@media only screen and (min-width: 768px) {


    main {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 992px) {

    #navbar div button {
        display: flex;
    }

    #navbar ul:first-of-type {
        background-color: #1a1a1a;
        height: 100vh;
        min-width: 300px;
        width: 40%;
        position: absolute;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        top: 60px;
        left: 0;
        padding: 0 1.6em 0;
        transform: translateX(-100%);
    }

    #navbar ul:first-of-type li {
        margin: 10px 0;

    }



    #navbar ul:first-of-type.toonMenu {
        transform: translateX(0%);
        transition: .2s;
    }

    #navbar ul:last-of-type li:nth-of-type(2),
    li:nth-of-type(3) {
        display: none;
    }

    #navbar ul:last-of-type li:nth-of-type(3) {
        display: none;
    }

}

@media only screen and (min-width: 992px) {
    main {
        grid-template-columns: repeat(3, 1fr);
    }

    footer::after {
        content: "Dit is een footer.. Wow!";
        background: #000;
        color: gray;
        position: fixed;
        height: 1.5em;
        margin: auto;
        top: calc(100% - 1.5em);
        width: 100%;
        text-align: center;
    }
}

@media only screen and (min-width: 1440px) {
    main {
        grid-template-columns: repeat(4, 1fr);
    }

}




@media only screen and (min-width: 1734px) {
    main {
        grid-template-columns: repeat(5, 1fr);
    }
}

/*
    @media (min-width: 2149px) and (max-width: 2593px) {
        main {
            grid-template-columns: repeat(6, 1fr);
        }
    }
*/

@media only screen and (min-width: 2593px) {
    main {
        max-width: 3000px;
        /*        border: 2px solid red;*/
        grid-template-columns: repeat(7, 1fr);
    }


}
