* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: calc(16px + (16 - 14) * ((100vw - 300px) / (1600 - 300)));
    font-family: 'Acumin-Pro', sans-serif;
    @import url("https://use.typekit.net/xta7btl.css");
}

body {
    width: 100%;
    margin-top: 60px;
}

header {
    margin: auto;
    width: 100%;
}

#navbar {
    position: fixed;
    top: 0;
    z-index: 999;
    background-color: black;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    overflow: hidden;
}



#navbar a {
    text-decoration: none;
    font-weight: 700;
    font-size: 15px;
    color: lightgrey;
    padding: 10px;
    min-width: 100px;
    width: 100px;
    display: flex;
    justify-content: center;

}

#navbar a:nth-of-type(5) {
    color: white;
    width: auto;
    min-width: 225px;
    border-radius: 50px;
    background-color: #0045ff;
    line-height: 1em;
    padding: 10px 15px;
}

#navbar a:first-of-type {
    
}

#navbar a.active {
    color: white;
}

#navcarousel {
    overflow: hidden;
    height: 120px;
    width: 100%;
    display: flex;
    align-items: flex-start;
    overflow-x: scroll;

}

#navcarousel::-webkit-scrollbar {
    display: none;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

#navcarousel a {
    font-weight: 800;
    margin: 5px;
    color: white;
    background-color: #0045ff;
    text-decoration: none;
    min-width: 150px;
    text-align: center;
    border-radius: 4px;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#navcarousel a:first-of-type{
    border-radius: 100%;
    box-shadow: 0 2px 5px #182958;
    position: absolute;
    top: 75px;
    left: 1em;
    background: white;
    color: black;
    margin: 0;
    min-width: 50px;
    height: 50px;
}

#navcarousel a:last-of-type{
    border-radius: 100%;
    box-shadow: 0 2px 5px #182958;
    position: absolute;
    top: 75px;
    right: 1em;
    background: white;
    color: black;
    margin: 0;
    min-width: 50px;
    height: 50px;
}


#introtxt {

    padding: 2.4em 0;

}

#introtxt h1 {

    font-family: "Acumin-Pro", sans-serif;
    font-weight: 800;
    font-size: 69px;
    line-height: 63px;
    text-align: center;
}

#introtxt p {

    font-family: "Acumin-Pro", sans-serif;
    font-weight: normal;
    font-size: 1.7em;
    line-height: 1.6em;
    text-align: center;
}


#canvas {
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    padding: 0 24px;
    display: grid;
    grid-auto-columns: repeat(4, 50%);
    grid-column-gap: 20px;
    grid-row-gap: 2.5em;

}


#canvas .thumbnail {

    position: relative;
    height: 100%;
    width: 100%;
}

.thumbnail:after {
    content: '';
    display: block;
    padding-bottom: calc(100% / (4/3));
}


.thumbnail img {
    position: absolute;
    overflow: hidden;
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 4px;
    z-index: -1;
    
}

.thumbnail h1 {
    height: 100%;
    width: 100%;
    padding: .5em;
    border-radius: 4px;

    position: absolute;
    bottom: 0;
    left: 0;

    display: flex;
    align-items: flex-end;
    
    color: transparent;
    background-image: transparent;
    transition: .2s;
}

.thumbnail h1:hover {
    height: 100%;
    width: 100%;
    padding: .5em;
    border-radius: 4px;

    position: absolute;
    bottom: 0;
    left: 0;

    display: flex;
    align-items: flex-end;

    color: white;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.7) 10%, rgba(0, 0, 0, 0.4) 20%, transparent 30%);
    transition: .5s;
}

@media only screen and (max-width: 545px) {
    #canvas {
        grid-template-columns: 1fr;
    }
}

@media only screen and (min-width: 540px) {
    #canvas {
        grid-template-columns: repeat(2, 1fr);
    }
}


@media only screen and (min-width: 768px) {
    #canvas {
        grid-template-columns: repeat(2, 1fr);
    }
}


@media only screen and (min-width: 992px) {
    #canvas {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media only screen and (min-width: 1440px) {
    #canvas {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media only screen and (min-width: 1734px) {
    #canvas {
        grid-template-columns: repeat(5, 1fr);
    }
}

@media only screen and (min-width: 2593px) {
    #canvas {
        grid-template-columns: repeat(7, 1fr);
    }
}

